<!-- Form starts -->
  <form [formGroup]="registerForm" (submit)="register()">
    <div class="auth-box">
      <a routerLink="/" class="auth-logo mb-4">
        <img src="assets/medflex/assets/images/logo-dark.svg" alt="Bootstrap Gallery">
      </a>

      <h4 class="mb-4">Üye Ol - Hasta</h4>


      <div class="mb-3">
        <label class="form-label">İsim <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="İsim" [formControl]="registerForm.controls.firstName">
      </div>

      <div class="mb-3">
        <label class="form-label">Soyisim <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Soyisim" [formControl]="registerForm.controls.lastName">
      </div>

      <div class="mb-3">
        <label class="form-label">Email <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Email" [formControl]="registerForm.controls.email">
      </div>

      <div class="mb-3">
        <label class="form-label">Şifre<span class="text-danger">*</span></label>
        <div class="input-group">
          <input type="password" class="form-control" placeholder="Şifre"
            [formControl]="registerForm.controls.password">
          <button class="btn btn-outline-secondary" type="button">
            <i class="ri-eye-line text-primary"></i>
          </button>
        </div>

      </div>


      <div class="mb-3">
        <label class="form-label">Telefon Numarası</label>
        <input type="text" class="form-control" placeholder="Telefon Numarası"
          [formControl]="registerForm.controls.phoneNumber">
      </div>

      <div class="mb-3 d-grid gap-2">
        <button type="submit" class="btn btn-primary">Üye Ol</button>
        <a routerLink="/auth/login" class="btn btn-secondary">Giriş Yap</a>
      </div>
    </div>
  </form>
<!-- Form ends -->
