 <!-- Row starts -->
 <div class="row">
  <div class="col-12 mt-4">

    <!-- Row starts -->
    <div class="row gx-3">
      <div class="col-xxl-6 col-sm-12">
        <div class="card mb-3 bg-1">
          <div class="card-body mh-230">

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-3">
                <img src="assets/medflex/assets/images/doctor.svg" class="img-230 mt-n5" alt="Medical Dashboard">
              </div>
              <div class="col-sm-9">
                <div class="text-white mt-3">
                  <h6>Good Morning,</h6>
                  <h3>Dr. Jessika Linda</h3>
                  <h6>Gynecologist, MS, MD, MBBS</h6>
                  <h5>You have total <span class="badge bg-danger">18 appointments</span> today.</h5>
                  <div class="rating-stars">
                    <div class="readonly5"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-sm-4">
        <div class="card mb-3">
          <div class="card-body mh-230">

            <!-- Card details start -->
            <div>
              <div class="d-flex flex-column align-items-center">
                <div class="icon-box xl bg-primary-subtle rounded-5 mb-2 no-shadow">
                  <i class="ri-empathize-line fs-1 text-primary"></i>
                </div>
                <h1 class="text-primary">3809</h1>
                <h6>Patients</h6>
                <span class="badge bg-primary">40% High</span>
              </div>
            </div>
            <!-- Card details end -->

          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-sm-4">
        <div class="card mb-3">
          <div class="card-body mh-230">

            <!-- Card details start -->
            <div>
              <div class="d-flex flex-column align-items-center">
                <div class="icon-box xl bg-danger-subtle rounded-5 mb-2 no-shadow">
                  <i class="ri-lungs-line fs-1 text-danger"></i>
                </div>
                <h1 class="text-danger">906</h1>
                <h6>Surgeries</h6>
                <span class="badge bg-danger">26% High</span>
              </div>
            </div>
            <!-- Card details end -->

          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-sm-4">
        <div class="card mb-3">
          <div class="card-body mh-230">

            <!-- Card details start -->
            <div>
              <div class="d-flex flex-column align-items-center">
                <div class="icon-box xl bg-success-subtle rounded-5 mb-2 no-shadow">
                  <i class="ri-money-dollar-circle-line fs-1 text-success"></i>
                </div>
                <h1 class="text-success">$986K</h1>
                <h6>Earnings</h6>
                <span class="badge bg-success">30% High</span>
              </div>
            </div>
            <!-- Card details end -->

          </div>
        </div>
      </div>
    </div>
    <!-- Row ends -->

  </div>
</div>
<!-- Row ends -->
