<app-base-crud-page
[displayedColumns]="displayedColumns"
[formControls]="formControls"
[writableService]="writableService"
[readableService]="readableService"
(editingData)="setEditingData($event)">

  <div class="ng-form-create">
    <app-country-select id="country-name" label="Ülke Adı" [isRequired]="true" [formControlInput]="formControls.countryID" />
    <app-standard-input id="city-name" label="Şehir Adı" [isRequired]="true" [formControlInput]="formControls.name" />
  </div>

  <div class="ng-form-edit">
    <app-country-select id="country-name" label="Ülke Adı" [isRequired]="true" [formControlInput]="formControls.countryID" />
    <app-standard-input id="city-name" label="Şehir Adı" [isRequired]="true" [formControlInput]="formControls.name" />
  </div>

</app-base-crud-page>
