<div class="mb-4">
  @if (label) {
  <label [htmlFor]="id" class="text-dark-primary mb-2">{{label}}
    @if (isRequired)
    {
    <sup><span class="required">*</span></sup>
    }
  </label>
  }

  @if (formControlInput) {
    <select [id]="id" class="form-select"
    [formControl]="formControlInput" (change)="onSelectChange($event)">
    <option [value]="0">Şehir Seç</option>
    @for (item of cityList; track $index) {
    <option [value]="item.id">{{item.name}}</option>
    }
  </select>
  }
  @else {
    <select [id]="id" class="form-select" (change)="onSelectChange($event)">
    <option [value]="0">Şehir Seç</option>
    @for (item of cityList; track $index) {
    <option [value]="item.id">{{item.name}}</option>
    }
  </select>
  }

  <div class="d-flex flex-column">
    <ng-content></ng-content>
  </div>
</div>

