 <!-- Row starts -->
 <div class="row gx-3">
  <div class="col-xxl-12 col-sm-12">
    <div class="card mb-3 bg-2">
      <div class="card-body">
        <div class="py-4 px-3 text-white">
          <h6>Hoşgeldiniz,</h6>
          <h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row ends -->

<!-- Row starts -->
<div class="row gx-3">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="p-2 border border-success rounded-circle me-3">
            <div class="icon-box md bg-success-subtle rounded-5">
              <i class="ri-surgical-mask-line fs-4 text-success"></i>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h2 class="lh-1">890</h2>
            <p class="m-0">Hasta</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="p-2 border border-primary rounded-circle me-3">
            <div class="icon-box md bg-primary-subtle rounded-5">
              <i class="ri-lungs-line fs-4 text-primary"></i>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h2 class="lh-1">360</h2>
            <p class="m-0">Doktor</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="p-2 border border-danger rounded-circle me-3">
            <div class="icon-box md bg-danger-subtle rounded-5">
              <i class="ri-microscope-line fs-4 text-danger"></i>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h2 class="lh-1">980</h2>
            <p class="m-0">Randevu</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="p-2 border border-warning rounded-circle me-3">
            <div class="icon-box md bg-warning-subtle rounded-5">
              <i class="ri-money-dollar-circle-line fs-4 text-warning"></i>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h2 class="lh-1">98000</h2>
            <p class="m-0">Rapor</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Row ends -->

<!-- Row starts -->
<div class="row gx-3">
  <div class="col-xl-2 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-box md rounded-5 bg-primary mb-3">
            <i class="ri-verified-badge-line fs-4 lh-1"></i>
          </div>
          <h6>Appointments</h6>
          <h2 class="text-primary m-0">639</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-box md rounded-5 bg-primary mb-3">
            <i class="ri-stethoscope-line fs-4 lh-1"></i>
          </div>
          <h6>Doctors</h6>
          <h2 class="text-primary m-0">83</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-box md rounded-5 bg-primary mb-3">
            <i class="ri-psychotherapy-line fs-4 lh-1"></i>
          </div>
          <h6>Staff</h6>
          <h2 class="text-primary m-0">296</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-box md rounded-5 bg-primary mb-3">
            <i class="ri-lungs-line fs-4 lh-1"></i>
          </div>
          <h6>Operations</h6>
          <h2 class="text-primary m-0">49</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-box md rounded-5 bg-primary mb-3">
            <i class="ri-hotel-bed-line fs-4 lh-1"></i>
          </div>
          <h6>Admitted</h6>
          <h2 class="text-primary m-0">372</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-6 col-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center">
          <div class="icon-box md rounded-5 bg-primary mb-3">
            <i class="ri-walk-line fs-4 lh-1"></i>
          </div>
          <h6>Discharged</h6>
          <h2 class="text-primary m-0">253</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row ends -->
