<p>home-page works!</p>
<a class="btn btn-primary" routerLink="/auth/login">Login</a>
<a class="btn btn-primary" routerLink="/auth/register">register</a>
<a class="btn btn-primary" routerLink="/auth/forgot-password">forgot-password</a>
<a class="btn btn-primary" routerLink="/auth/reset-password">reset-password</a>

<a class="btn btn-primary" routerLink="/doctor">Doktor</a>
<a class="btn btn-primary" routerLink="/doctor/dashboard">doctor-dashboard</a>
<a class="btn btn-primary" routerLink="/doctor/appointments">doctor-appointments</a>

<a class="btn btn-primary" routerLink="/admin/">admin</a>
<a class="btn btn-primary" routerLink="/admin/dashboard">admin-dashboard</a>
<a class="btn btn-primary" routerLink="/admin/countries">admin-cointries</a>
